/* Overwatch Boilerplate */ /*#region*/
@font-face {
	font-family: normal-ow;
	src: url(../../../assets/fonts/Futura\ Round\ Demi.ttf);
}
@font-face {
	font-family: italics-ow;
	src: url(../../../assets/fonts/italics.ttf);
}

html {
	--ow-text-outline: rgb(36, 36, 36);
	--ow-sub-nav-text: rgb(209, 211, 223);
	--ow-player-background-color: rgb(74, 85, 107);
	--ow-player-status-color: rgb(125, 255, 0);
}

.v-h-center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Overwatch Boilerplate */ /*#endregion*/

/* Overwatch Template */ /*#region*/
.bg-image {
	opacity: 0.2;

	z-index: -10;
	max-width: 100vw;
	height: 100%;
	max-height: 100vh;
}
/* Overwatch Template */ /*#endregion*/

/* Overwatch Screen */ /*#region*/
.overwatch {
	color: white;
	background-color: #000000;
}
/* Overwatch Screen */ /*#endregion*/
