/* Overwatch Advertisements */ /*#region*/
.float-right {
	float: right;
}
.align-right {
	text-align: right;
}
.ow-advertisements {
	position: absolute;
	bottom: 4%;
	right: 6.7%;
	width: 100vw;
	font-size: 10vw;
	margin-right: 0.1%;
}
.content-sub-label {
	padding-top: 0;
	font-family: normal-ow;
	color: var(--ow-sub-nav-text);
	font-size: 2.15vh;
	line-height: 100%;
	margin-bottom: 0.35%;
}
.content-label {
	font-family: italics-ow;
	font-size: 5.95vh;
	line-height: 100%;
	margin-right: 0.1%;
	margin-bottom: 1%;
	letter-spacing: 0.125px;
}
.ow-btn {
	padding: 0.85vh 5.75vh;
	border-radius: 1%;
	font-family: normal-ow;
	font-size: 2vh;
	color: white;
}
.btn-yellow {
	background-color: rgb(253, 179, 54);
}
/* Overwatch Advertisements */ /*#endregion*/

@media screen and (max-width: 2050px) {
	.content-sub-label {
		font-size: 12%;
	}
	.content-label {
		font-size: 33.5%;
	}
	.ow-btn {
		padding: 0.45vw 3.1vw;
		font-size: 1.25vw;
	}
}
