/* Overwatch Advertisements */ /*#region*/
.float-right {
	float: right;
}
.align-right {
	text-align: right;
}
.ow-advertisements {
	position: absolute;
	bottom: 4%;
	right: 6.75%;
	width: 30%;
}
.ow-advertisements {
	font-size: 10vw;
	margin-right: 0.1%;
}
.content-sub-label {
	padding-top: 0;
	font-family: normal-ow;
	color: var(--ow-sub-nav-text);
	font-size: 10.875%;
	line-height: 100%;
	margin-bottom: 1.5%;
}
.content-label {
	font-family: italics-ow;
	font-size: 30%;
	line-height: 100%;
	margin-right: 1%;
	margin-bottom: 3.5%;
	letter-spacing: 0.125px;
}
.ow-btn {
	padding: 0.85vh 2.9vw;
	border-radius: 1%;
	font-family: normal-ow;
	font-size: 10%;
	color: white;
}
.btn-yellow {
	background-color: rgb(253, 179, 54);
}
/* Overwatch Advertisements */ /*#endregion*/

@media screen and (max-width: 1920px) {
	.content-sub-label {
		font-size: 10.5%;
	}
	.content-label {
		font-size: 29%;
	}
}
