/* Overwatch Party */ /*#region*/
.float-left {
	float: left;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.ow-party {
	position: absolute;
	right: 2.57%;
	top: 2.75%;
	min-width: 25.69%;
	height: 5.6%;
}
.search-player {
	/* width: fit-content; */
}
.party-square {
	height: 100%;
}
.add-player {
	margin-left: 1%;
}
.player {
	background-color: var(--ow-player-background-color);
	margin-left: 0.5vw;
	flex: 1;
}
.player-name-container {
	flex: 1;
	margin-left: 5%;
	height: 100%;
	font-size: 10vw;
}
.player-icon {
	border-left: 0.2vw solid var(--ow-player-status-color);
	margin-right: 1%;
}
.player-name-stats {
	height: 100%;
	width: 100%;
	margin-left: 0.75vw;
}
.player-name {
	margin-top: 0.7vw;
	margin-bottom: 0.1vw;
	line-height: 50%;
	height: 25%;
	font-size: 10%;
	font-family: normal-ow;
	color: var(--ow-sub-nav-text);
}
.player-stats {
	margin: auto;
	line-height: 100%;
	font-family: normal-ow;
	color: var(--ow-sub-nav-text);
	font-size: 7%;
	height: 25%;
}
.player-level-bubble {
	padding: 0.05%;
	border-radius: 12.5%;
	width: fit-content;
}
.bronze {
	background-color: rgb(163, 84, 53);
}
.sky-blue {
	background-color: rgb(23, 162, 167);
}
.small-icon {
	margin: auto;
	height: 0.65vw;
	color: transparent;
	text-shadow: 0 0 0 white;
}
.player-stat-ring {
	border: 0.1vw var(--ow-player-background-color) solid;
	padding: 10% 15%;
	border-radius: 12.5%;
	box-shadow: 0 0 0 0.05rem rgb(23, 162, 167);
	margin: 0px;
}
.player-level-outer {
	width: 9%;
}
.player-level-inner {
	margin: 0px;
	margin-top: 5%;
	padding: 10% 25%;
	width: fit-content;
}
.player-stat-separator {
	margin-left: 3.5%;
}
.performance-padding {
	padding: 0 0.05rem;
}

/* Overwatch Party */ /*#endregion*/
